# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.csv

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
bff-api/data/contact_avatar_me
bff-api/data/contact_profile_pic_0012965652
bff-api/data/contact_profile_pic_0051605413
bff-api/data/contact_profile_pic_0065124507
bff-api/data/contact_profile_pic_2041716896
bff-api/data/contact_profile_pic_2141021766
bff-api/data/group_avatar_0447190116
bff-api/data/group_avatar_0539910367
bff-api/data/group_avatar_1307739700
bff-api/data/group_avatar_1587502506
