name: Publish new Version
on:
  workflow_dispatch
  
jobs:
  release:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v4
    - name: Build and push Image
      run: |
        docker login --username maxiking445 --password ${{secretsGH_PAT}} ghcr.io
        docker build . --tag ghrc.io/maxiking445/threema-chat-analyzer:latest
        docker push ghrc.io/maxiking445/threema-chat-analyzer:latest
