name: Publish new Version
on:
  workflow_dispatch


permissions:
  contents: read
  packages: write 
  
  
jobs:
  release:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v4
    - name: Build and push Image
      run: |
        docker login --username maxiking445 --password ${{secrets.GH_PAT}} ghcr.io 
        docker build . --tag ghcr.io/maxiking445/threema-chat-analyzer:latest
        docker push ghcr.io/maxiking445/threema-chat-analyzer:latest
